@use "./colors.scss" as *;

* {
  all: unset;
  font-family: JetbrainsMono NF;
}

tooltip {
  background-color: $bg2;
  color: $fg1;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 20px;
  border: 1px solid $bg3;
}

.bar {
  background-color: $bg-muted;
  color: $fg1;
}

.brightness-percentage-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100px;

  highlight {
    background-color: $blue-muted;
    padding: 0.3em;
    border-radius: 0.2em;
  }

  trough {
    background-color: $bg2;
    border-radius: 0.2em;
  }
}

.brightness-percentage-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100px;

  highlight {
    background-color: $blue-muted;
    padding: 0.3em;
    border-radius: 0.2em;
  }

  trough {
    background-color: $bg2;
    border-radius: 0.2em;
  }
}

.brightness-box {
  background-color: $bg1;
  border: 1px solid $bg3;

  label {
    color: $yellow-strong;
    font-size: 1.2em;
  }
}

.volume-percentage-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100px;

  highlight {
    background-color: $blue-muted;
    padding: 0.3em;
    border-radius: 0.2em;
  }

  trough {
    background-color: $bg2;
    border-radius: 0.2em;
  }
}

.volume-box {
  background-color: $bg1;
  border: 1px solid $bg3;

  label {
    color: $yellow-strong;
    font-size: 1.2em;
  }
}

.clock {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;

  .hour,
  .minute,
  .second,
  .separator {
    color: $aqua-strong;
  }

  border-color: $aqua-muted;
}

.pc-usage {
  margin-bottom: 10px;

  .cpu,
  .ram {
    margin-left: 3px;
    margin-bottom: 10px;

    .dot {
      margin: 10px;
      margin-left: 2px;
      font-size: 20px;
    }
  }

  .cpu {
    .dot {
      color: $orange-strong;
    }

    background-color: $bg2;
    color: $orange-muted;
  }

  .ram {
    .dot {
      color: $blue-strong;
    }

    background-color: $bg2;
    color: $blue-muted;
  }
}

.workspaces {
  border-radius: 2px;
  border-right: 3px solid $fg4;

  .WSfocused,
  .WSunfocused {
    font-size: 1.2em;
    background-color: $bg1;
  }

  .WSfocused {
    color: $yellow-strong;
  }

  .WSunfocused {
    color: $fg4;
  }
}
