*{
    all: unset;
}

.example {
    background-color: transparent;
}


.clock {
    font-size: 65px;
    font-weight: bold;
    color: rgb(251,241,199);
}

.lockButton,
.rebootButton, 
.logoutButton, 
.powerButton {
    padding-left:  6px;
    padding-right: 9px;
    color: rgb(80,73,69);
    font-size: 30px;
    border-radius: 5px;
    border: transparent;
    transition: color .3s ease;
}

.powerButton:hover {
    color: rgb(204,36,29);
}
.rebootButton:hover{
    color: rgb(69,133,136);
}
.logoutButton:hover{
    color: rgb(152,151,26);
}
.lockButton:hover {
    color: rgb(177,98,134);
}

.cpu-bar {
    color: rgb(204,36,29);
    background-color: rgb(50,48,47);
}
.top {
    background-color: #202020;
}

.big-ws {
    font-size: 20px;
    font-weight: bold;
    color: White;
    margin: 4px;
}
