@use "../colors.scss" as *;

.bar {
  background-color: $bg1;
  border: 3px solid $bg3;
  border-radius: 10px;
}

.top { }

.middle { }
.v-clock {
  font-weight: bold;
}
.active-workspace {
  background-color: $red-muted;
  border: 3px solid $red-strong;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 1px;
}

.bottom { }
