@use "../colors.scss" as *;

* {
  all: unset;
  font-family: JetbrainsMono NF;
}

tooltip {
  background-color: $bg2;
  color: $fg1;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 20px;
  border: 1px solid $bg3;
}

.background.bar {
  // makes the corners on the bar transparent so you don't have the black corners
  background-color: rgba(0, 0, 0, 0.0);
}

.bar {
  background-color: $bg1;
  border-radius: 55px;
  color: $fg1;
}

.volume {
  color: $aqua-strong;
  margin: 0px;
  border-bottom: 3px inset $bg1;
  border-radius: 3px;
  background-color: $bg1;
  font-size: 1.1em;
}

.clock {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;

  border-bottom: 4px solid $bg2;
  border-radius: 3px;
  background-color: $bg1;

  .hour,
  .minute,
  .second,
  .separator {
    color: $aqua-strong;
  }
}

.pc-usage {
  margin-bottom: 10px;

  .battery,
  .cpu,
  .ram {
    margin-left: 3px;
    margin-bottom: 10px;

    .dot {
      margin: 10px;
      margin-left: 2px;
      font-size: 20px;
    }
  }

  .battery {
    .dot {
      color: $aqua-strong;
    }

    background-color: $bg2;
    color: $aqua-muted;
  }

  .cpu {
    .dot {
      color: $orange-strong;
    }

    background-color: $bg2;
    color: $orange-muted;
  }

  .ram {
    .dot {
      color: $blue-strong;
    }

    background-color: $bg2;
    color: $blue-muted;
  }
}

.current-workspace {
  border-radius: 2px;

  .WSfocused {
    font-size: 1.2em;
    background-color: $bg1;
    color: $yellow-strong;
    border-left: 3px solid $fg4;
    border-left-color: $yellow-strong;
  }
}

.current-workspace-left {
  border-radius: 2px;

  .WSfocused {
    font-size: 1.2em;
    background-color: $bg1;
    color: $yellow-strong;
    border-right: 3px solid $fg4;
    border-right-color: $yellow-strong;
  }
}

.workspaces {
  border-radius: 2px;

  .WSfocused,
  .WSunfocused {
    font-size: 1.2em;
    background-color: $bg1;
    border-left: 3px solid $fg4;
  }

  .WSfocused {
    color: $yellow-strong;
    border-left-color: $yellow-strong;
  }

  .WSunfocused {
    color: $fg4;
  }
}

.workspaces-left {
  border-radius: 2px;

  .WSfocused,
  .WSunfocused {
    font-size: 1.2em;
    background-color: $bg1;
    border-right: 3px solid $fg4;
  }

  .WSfocused {
    color: $yellow-strong;
    border-right-color: $yellow-strong;
  }

  .WSunfocused {
    color: $fg4;
  }
}

.poweroff,
.reboot,
.logout {
  font-size: 1.4em;
  margin: 2px;
}

.poweroff {
  color: $red-strong;
}

.reboot {
  color: $aqua-strong;
}

.logout {
  color: $yellow-strong;
}
