@use "../colors.scss" as *;

.desktopBar {
  padding: 5px;
  background-color: $bg1;
  border-radius: 5px;
  border: 5px solid $bg2;
}

.datetime {
  background-color: $bg1;

  label {
    font-size: 1.5em;
    margin: 0.5em;
    font-weight: bold;
    color: $aqua-strong;
  }
}

.profile {
  font-weight: bold;
  color: $fg-strong;
  font-size: 1.7em;
}
